{
  "drivers": [
    {
      "name" : "JDBCDriver",
      "classpath" : "com.github.insanusmokrassar.AbstractDatabaseORM.drivers.jdbc.JDBCDatabaseDriver",
      "config" : {
        "jdbcDriverPath" : "org.h2.Driver"
      },
      "cache": true
    }
  ],
  "databases" : [
    {
      "name" : "Example",
      "driver" : "JDBCDriver",
      "config" : {
        "username" : "",
        "password" : "",
        "url" : "jdbc:h2:mem:example"
      },
      "cache": false
    }
  ]
}