{
  "drivers": [
    {
      "name" : "JDBCDriver",
      "classpath" : "com.github.insanusmokrassar.AbstractDatabaseORM.drivers.jdbc.JDBCDatabaseDriver",
      "config" : {
        "jdbcDriverPath" : "org.h2.Driver"
      },
      "cache": true
    }
  ],
  "databases" : [
    {
      "name" : "Example",
      "driver" : "JDBCDriver",
      "config" : {
        "username" : "sa",
        "password" : "",
        "url" : "jdbc:h2:~/test;DB_CLOSE_ON_EXIT=FALSE"
      }
    }
  ]
}